*{margin: 0; padding: 0;}

html{font-size: 20px;}
body{font-size: 1rem;}

body {
    font-family: 'Jua', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #3a3939;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #a0a6bb;
    background-color: #e9eff6;
    border-radius: 10px;
    width: 35rem; height: 22.5rem;
}

#img-form {
    width: 16rem; height: 20rem;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img-container h1 {margin: 100px 0}

#img-container img {width: 100%; height: 100%; float: bottom;}

#login-form {
    background-color: #ffffff;
    border-radius: 10px;
    width: 16rem; height: 20rem;
    margin: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {width: 230px;}

.textBox {margin-bottom: 15px; font-size: 16px;}

.idBox i, .pwBox i {margin-right: 10px;}

.idBox, .pwBox {
    width: 100%; height: 35px;
    border: 1px solid #a0a6bb;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.textBox input {
    width: 180px; height: 30px;
    font-family: 'Jua', sans-serif;
    border-radius: 5px;
    border : none;
    outline: none;
}

/*.textBox input:focus > .idBox{*/
/*    color: red;*/
/*    border: 1px solid red;*/
/*}*/

#but {
    margin-top: 30px;
    height: 50px;
}

#signBut {
    font-family: 'Jua', sans-serif; font-size: 22px;
    width: 100%; height: 45px;
    border: none;
    background-color: #a0a6bb; color: #fff;
    box-shadow: 2px 2px 5px #a0a6bb;
    border-radius: 5px;
    transition-duration: .05s;
    cursor: pointer;
}

#signBut:hover{background-color: #7c8093}

#signBut:active{
    margin-left: 1.5px;
    margin-top: 1.5px;
    box-shadow: none;
}

#link {text-align: center}

#link a {
    color: #3a3939;
    font-size: 12px;
    text-decoration: none;
}

#link a:hover{color: red;}
